<!DOCTYPE html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="w-screen min-h-screen elative overflow-x-auto">
    <header class="flex justify-between items-center">{{ partial "header.html" . }}</header>
    <main>
      <div class="grid sm:grid-cols-[150px_1fr] main_canvas">
        <div class="justify-center py-6 side hidden sm:flex">
          <div class="px-2">
            <ul class="flex gap-2 flex-wrap justify-center">
              {{ range .Site.Taxonomies.tags }}
              <li class="bg-orange-500 rounded-sm px-2 text-xs font-bold list-none">
                <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
          <div class="category"></div>
        </div>
        <div class="py-6 ml-3">
          <div class="">
            <div class="">
              <ul class="flex flex-col justify-center gap-2">
                {{ block "main" . }}{{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="sticky bottom-0">{{ partial "footer.html" . }}</footer>
  </body>
</html>
