{{ define "main" }} {{ .Content }} {{ range site.RegularPages }} {{ if eq .Type
"post" }}
<a href="{{ .RelPermalink }}">
  <li
    class="flex items-center gap-2 list-menu text-sm hover:bg-orange-500 hover:rounded-sm"
  >
  <!-- INFO: uglyyyyyy -->
    <!-- {{ range .Params.tags }}
    <div class="bg-orange-500 px-3 rounded-sm font-bold text-white">
      {{ . }}
    </div>
    {{ end }} -->
    <span class="text-xs text-gray-500">{{ .Date.Format "2006-01-02" }}</span>-
    {{ .LinkTitle }}
  </li>
</a>
{{ end }} {{ end }} {{ end }}
