{{ define "main" }}
<!---->

<!--FIXME: MOBILE VIEW [thumbnail] -->
<!-- REVIEW: [thumbnail] DONE FIX-->
<div class="thumbnail w-full md:w-96 md:rounded-md overflow-hidden">
  {{ with .Params.thumbnail }}
  <img class="" src="{{ . }}" alt="Thumbnail" />
  {{ else }} {{ with .Resources.Match "**.jpg" }} {{ with .Get 0 }}
  <img src="{{ .Permalink }}" alt="Thumbnail" />
  {{ end }} {{ end }} {{ end }}
</div>

<h1 class="post-title m-0 p-0">{{ .Title }}</h1>
{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} {{ $dateMachine := .Date | time.Format
"2006-01-02T15:04:05-07:00" }} {{ $dateHuman := .Date | time.Format ":date_long" }}
<i class="text-xs"
  ><time class="bg-orange-500 text-white font-bold px-3 rounded-sm" datetime="{{ $dateMachine }}"
    >{{ $dateHuman }}</time
  ></i
>
<div class="post">{{ .Content }}</div>
{{ end }}
