@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol,
  ul,
  menu {
    list-style: none;
  }
}

/* ! font in all pages */
html {
  font-family: 'M PLUS 1p', sans-serif !important;
  /* font-weight: bold; */
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-sm;
}

h5 {
  @apply text-xs;
}

/* ! in main_canvas */
.main_canvas {
  min-height: calc(100vh - 46px) !important;
}

/* ! heading text h1 - h5 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'M PLUS 1p', sans-serif !important;
  font-weight: bold;
  @apply text-orange-500 border-l-4 border-orange-500 pl-3 my-2;
}

.post > h1::before,
.post > h2::before,
.post > h3::before,
.post > h4::before,
.post > h5::before,
.post > h6::before {
  content: '#';
}

/*! list post in home.html  */
.list-menu::before {
  content: '[+]';
}

/* ! baseof.html */
/* border code */
.side {
  min-height: calc(100vh-25px) !important;
  border-right: 1px solid rgba(156 163 175 / 0.5) !important;
}

/*! footer code in footer.html */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

/* ! post code in single.html */
.post {
  /* display: none; */
  width: 100%;
  padding: 0 1em 0 0;
  overflow: hidden;
}
.post > p {
  text-indent: 1em;
  @apply first-letter:text-xl first-letter:font-bold;
}
.thumbnail {
  padding-right: 1em;
  display: flex;
  align-items: center;
}
.thumbnail img {
  width: 100%;
}

/* ! styleing for <code> */
p > code {
  @apply rounded-sm font-mono px-3 py-1 text-xs bg-orange-300/50;
}
pre {
  text-wrap: wrap;
  @apply py-5 px-6 overflow-x-scroll;
}

.highlight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @apply rounded-xl overflow-hidden bg-black;
}
.highlight > pre {
  @apply rounded-xl !bg-orange-500/0;
}

.highlight::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 10px 0 10px 10px;
  border-radius: 50%;
  background-color: rgb(249, 115, 22, 0.7);
  box-shadow: 20px 0px rgba(255, 255, 0, 0.5), 40px 0px rgb(0, 0, 255, 0.6);
}

/* INFO: SINGLE.html */
/* styleing for table */
table {
  @apply rounded-md border bg-orange-100 overflow-hidden border-separate border-spacing-0 my-3 p-2;
}
table tr:nth-child(even) {
  @apply bg-orange-500/30;
}
table tr th {
  @apply border border-dashed border-orange-200 bg-orange-500/85;
}

table tr td {
  @apply border border-dashed border-orange-500/35 text-xs p-1;
}

/* ! styleing for list */
.post ol li {
  @apply list-decimal list-outside ml-6;
}
.post ul > li {
  @apply list-disc list-outside ml-6;
}

/* styleing for blockquote */
blockquote {
  @apply border-l-4 border-orange-500 pl-3 py-3 my-2 bg-orange-500/25 rounded-r-lg;
}
